img {
    border-radius: 8px;
    height: 180px;
    width: 180px;
}
#card {
    margin-bottom: 30px;
    max-height: 360px;
}

.image {
    border-radius: 8px;
    height: 250px;
    width: 250px;
}
